html {
  scroll-behavior: smooth;
}

.site-nav {
  z-index: 20;
}

.in-body {
  background-color: rgba(74, 106, 223, 0.75);
  animation: clear 1.25s forwards;
  opacity: 1;
}

.site-header {
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, rgb(74, 106, 223), rgb(31, 42, 97));
  overflow: hidden;
}

.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/planets/all-planets.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  animation: slideUp 1s forwards;
  transform: translateY(400px) scale(1.5);
  opacity: 0;
  animation: clear 0.7s forwards;
}

.site-nav .nav-link {
  position: relative;
  padding-left: 2px;
}

.site-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 40px;
  bottom: 0;
  left: 0;
  background-color: rgba(266, 207, 31, 0);
  transform: scale(0);
  transform-origin: top;
  transition: all 0.3s cubic-bezier(0.03, 0.1, 0.5, 1.5);
  opacity: 0;
}

.site-nav .nav-link:hover::before {
  background-color: rgba(266, 207, 31, 0.5);
  /* opacity: 1; */
  transform: scale(1);
}

.site-header .header-title {
  transform: translateY(10rem);
  opacity: 0;
  animation: clear 0.7s 0.3s forwards;
}

.site-header .header-subtitle {
  transform: translateY(10rem);
  opacity: 0;
  animation: clear 0.8s 0.35s forwards;
}

.site-header .header-cue {
  position: absolute;
  bottom: 0;
  transform: translateY(2rem);
  z-index: 10;
  overflow: hidden;
  animation: clear 0.5s 1.5s forwards;
}

.site-header .header-cue-icon {
  animation: slideDown 0.5s 1.65s forwards, pulse 1.5s 4s ease-in-out infinite;
  color: rgb(43, 28, 88);
  transform: translateY(-2rem);
  opacity: 0;
}

h1 {
  color: rgb(31, 42, 97);
}
/* .header-title {
  z-index: 6;
} */

@keyframes clear {
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-2rem);
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    transform: none;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: none;
    transform: scale(1);
    transform: translateY(-1rem);
  }
  50% {
    opacity: 0.75;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.layout-image {
}

.layout-image:hover {
  transition: 0.3s;
  /* box-shadow: rgba(30, 30, 30, 0.2) 5px 5px 12px 2px; */
  transform: scale(1.25);
}
